
<div class="flex flex-col gap-4 h-full w-full bg-neutral-100">

    <div class="relative flex justify-center h-96 lg:h-[360px] w-full bg-neutral-800">

        <div class="absolute z-30 mt-16 flex gap-4 flex-col justify-start items-start h-full w-full pl-4 md:pl-12 lg:pl-20 lg:pr-20 2xl:pl-0 2xl:pr-0 lg:max-w-[1560px]">
            <div class="flex h-4 pl-4 pr-4 border-l-8 border-orange-600 justify-center items-center font-poppins font-medium text-sm text-white">OUR PROJECTS</div>
            <div class="font-poppins md:leading-14 text-2xl sm:text-3xl md:text-4xl font-bold text-white w-full max-w-2xl">Outstanding Projects We recently Implemented</div>
        </div>

        <div class="absolute z-30 flex gap-4 flex-col justify-end items-end h-full w-full lg:max-w-[1560px]">
            <div class="flex gap-2 h-12 bg-neutral-100" style="clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 16px, 100% 100%, 0 100%)">
                <a href="#" class="flex pl-8 pr-4 justify-center items-center h-full font-poppins font-semibold text-sm text-neutral-400">HOME</a>
                <a href="#" class="flex gap-4 pr-8 justify-center items-center h-full font-poppins font-semibold text-sm duration-300 hover:text-neutral-500 text-neutral-800">
                    <span class="w-1 h-1 bg-orange-600"></span>
                    <span>STRUCTURE</span>
                </a>
            </div>
        </div>

        <img class="object-cover" src="../files/images/component/industry-2.jpg" alt="">
    </div>

</div>
