
<div class="flex h-full gap-4 w-full bg-neutral-100 mt-4 xl:pl-8 xl:pr-8">

    <div class="relative flex flex-col w-full h-[360px] p-6 bg-neutral-200">
        <div class="relative w-full h-36 flex gap-6 justify-start pl-6 items-center bg-neutral-800">
            <span class="flex justify-center items-center h-24 w-24 bg-orange-600 text-neutral-50"><i class='bx bx-shape-intersect bx-lg'></i></span>
            <span class="font-poppins font-semibold text-2xl text-white">Machine Shop & Fabrication</span>
            <span class="h-1 w-32 absolute bottom-0 right-0 bg-orange-600"></span>
        </div>
        <div class="mt-8 w-full h-36 text-sm font-normal pl-6 pr-8 text-neutral-600 font-poppins">If you have different machining requests, we ensure that our machine shop can fabricate your replacement and spare parts for all of your requests. Sed tempore itaque et iure eaque.</div>
        <a href="#" class="absolute flex pl-7 pr-5 h-16 w-72 justify-between text-neutral-50 items-center -bottom-4 right-6 duration-300 bg-neutral-800 hover:bg-orange-600 group">
            <span class="font-poppins font-semibold text-sm">FIND OUT MORE</span>
            <i class='bx bx-arrow-up-right-stroke bx-sm transition-transform duration-300 group-hover:rotate-45'></i> 
        </a>
    </div>
    
    <div class="relative flex flex-col w-full h-[360px] p-6 bg-neutral-200">
        <div class="relative w-full h-36 flex gap-6 justify-start pl-6 items-center bg-neutral-800">
            <span class="flex justify-center items-center h-24 w-24 bg-orange-600 text-neutral-50"><i class='bx bx-vertical-center bx-lg'></i></span>
            <span class="font-poppins font-semibold text-2xl text-white">On-Site/Portable Machining</span>
            <span class="h-1 w-32 absolute bottom-0 right-0 bg-orange-600"></span>
        </div>
        <div class="mt-8 w-full h-36 text-sm font-normal pl-6 pr-8 text-neutral-600 font-poppins">We can handle any on-site or portable machining services with the help of our highly qualified and trained field machinists. Sit placeat odio aut mollitia enim hic voluptas sint.</div>
        <a href="#" class="absolute flex pl-7 pr-5 h-16 w-72 justify-between text-neutral-50 items-center -bottom-4 right-6 duration-300 bg-neutral-800 hover:bg-orange-600 group">
            <span class="font-poppins font-semibold text-sm">FIND OUT MORE</span>
            <i class='bx bx-arrow-up-right-stroke bx-sm transition-transform duration-300 group-hover:rotate-45'></i> 
        </a>
    </div>

    <div class="relative flex flex-col w-full h-[360px] p-6 bg-neutral-200">
        <div class="relative w-full h-36 flex gap-6 justify-start pl-6 items-center bg-neutral-800">
            <span class="flex justify-center items-center h-24 w-24 bg-orange-600 text-neutral-50"><i class='bx bx-sun bx-lg'></i></i></span>
            <span class="font-poppins font-semibold text-2xl text-white">Plant Maintenance</span>
            <span class="h-1 w-32 absolute bottom-0 right-0 bg-orange-600"></span>
        </div>
        <div class="mt-8 w-full h-36 text-sm font-normal pl-6 pr-8 text-neutral-600 font-poppins">With our safe and efficient techniques, our skilled technicians can work on any plant maintenance requirements you need. Ut quos esse eos vitae ducimus ut commodi possimus et modi.</div>
        <a href="#" class="absolute flex pl-7 pr-5 h-16 w-72 justify-between text-neutral-50 items-center -bottom-4 right-6 duration-300 bg-neutral-800 hover:bg-orange-600 group">
            <span class="font-poppins font-semibold text-sm">FIND OUT MORE</span>
            <i class='bx bx-arrow-up-right-stroke bx-sm transition-transform duration-300 group-hover:rotate-45'></i> 
        </a>
    </div>

</div>
