
<div class="flex flex-col gap-4 h-full w-full bg-neutral-100 mt-4 xl:pl-8 xl:pr-8">

    <div class="relative flex justify-center h-[400px] w-full bg-neutral-800">

        <div class="absolute z-30 mt-16 lg:mt-20 flex gap-4 flex-col justify-start items-start h-full w-full pl-12 lg:pl-20 pr-20 lg:max-w-[1560px]">
            <div class="flex h-8 pl-4 pr-4 border-l-8 border-orange-600 justify-center items-center font-poppins font-semibold text-base text-white">Our Projects</div>
            <div class="font-poppins leading-14 text-3xl md:text-4xl lg:text-5xl font-semibold text-white w-full max-w-2xl">Outstanding Projects We recently Implemented</div>
        </div>

        <div class="absolute z-30 flex gap-4 flex-col justify-end items-end h-full w-full lg:max-w-[1560px]">
            <div class="flex gap-2 h-12 bg-neutral-100">
                <div class="flex pl-8 pr-4 justify-center items-center h-full font-poppins font-semibold text-base text-neutral-400">HOME</div>
                <div class="flex gap-4 pr-8 justify-center items-center h-full font-poppins font-semibold text-base text-neutral-800">
                    <span class="w-1 h-1 bg-orange-600"></span>
                    <span>STRUCTURE</span>
                </div>
            </div>
        </div>

        <img class="object-cover" src="../files/images/component/industry-2.jpg" alt="">
    </div>

</div>
