
<div class="flex flex-col gap-4 h-full w-full bg-neutral-100 mt-4 xl:pl-8 xl:pr-8">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 divide-y divide-neutral-800 h-full w-full border-t border-neutral-800">

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-black select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base lg:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Diverse Building Applications</span>

        </div>

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-black select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base lg:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Cost-Effectiveness</span>

        </div>

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-black select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base lg:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Proven Durability Over Time</span>

        </div>

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-black select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base lg:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Guarantees to Count On</span>

        </div>

        <div class="relative flex sm:hidden lg:flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-black select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base lg:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Eco-Friendly Material</span>

        </div>

    </div>

</div>
