
<div class="flex flex-col gap-4 h-full w-full bg-neutral-100 xl:pl-8 xl:pr-8">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 divide-y divide-neutral-800 h-full w-full border-t border-neutral-800">

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-neutral-800 select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base sm:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Diverse Building Applications</span>

            <div class="absolute z-50 w-full pl-3 pr-3 top-0 left-0 h-48 pt-[88px] invisible opacity-0 group-hover:visible duration-300 group-hover:opacity-100">

                <div class="p-8 bg-neutral-800 rounded border border-neutral-700">
                    <span class="font-poppins text-sm font-normal text-white">Simply stated, steel framed buildings are meant to last a lifetime. Although warranties and guarantees may vary between suppliers, most have such confidence in their products that at least a 20-year limited lifetime warranty on steel-framed kits.</span>
                </div>

            </div>

        </div>

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-neutral-800 select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base sm:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Cost-Effectiveness</span>

            <div class="absolute z-50 w-full pl-3 pr-3 top-0 left-0 h-48 pt-[88px] invisible opacity-0 group-hover:visible duration-300 group-hover:opacity-100">

                <div class="p-8 bg-neutral-800 rounded border border-neutral-700">
                    <span class="font-poppins text-sm font-normal text-white">Simply stated, steel framed buildings are meant to last a lifetime. Although warranties and guarantees may vary between suppliers, most have such confidence in their products that at least a 20-year limited lifetime warranty on steel-framed kits.</span>
                </div>

            </div>
        </div>

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-neutral-800 select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base sm:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Proven Durability Over Time</span>

            <div class="absolute z-50 w-full pl-3 pr-3 top-0 left-0 h-48 pt-[88px] invisible opacity-0 group-hover:visible duration-300 group-hover:opacity-100">

                <div class="p-8 bg-neutral-800 rounded border border-neutral-700">
                    <span class="font-poppins text-sm font-normal text-white">Simply stated, steel framed buildings are meant to last a lifetime. Although warranties and guarantees may vary between suppliers, most have such confidence in their products that at least a 20-year limited lifetime warranty on steel-framed kits.</span>
                </div>

            </div>
        </div>

        <div class="relative flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-neutral-800 select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base sm:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Guarantees to Count On</span>

            <div class="absolute z-50 w-full pl-3 pr-3 top-0 left-0 h-48 pt-[88px] invisible opacity-0 group-hover:visible duration-300 group-hover:opacity-100">

                <div class="p-8 bg-neutral-800 rounded border border-neutral-700">
                    <span class="font-poppins text-sm font-normal text-white">Simply stated, steel framed buildings are meant to last a lifetime. Although warranties and guarantees may vary between suppliers, most have such confidence in their products that at least a 20-year limited lifetime warranty on steel-framed kits.</span>
                </div>

            </div>
        </div>

        <div class="relative flex sm:hidden lg:flex h-20 w-full pl-5 sm:pl-0 justify-start sm:justify-center items-center gap-2 border-r duration-300 bg-neutral-900 hover:bg-neutral-800 select-none group">
            <span class="flex items-center h-full text-orange-600"><i class='bx bx-check bx-sm'></i></span>
            <span class="font-poppins text-base sm:text-xs xl:text-sm 2xl:text-base font-medium 2xl:font-semibold text-white">Eco-Friendly Material</span>

            <div class="absolute z-50 w-full pl-3 pr-3 top-0 left-0 h-48 pt-[88px] invisible opacity-0 group-hover:visible duration-300 group-hover:opacity-100">

                <div class="p-8 bg-neutral-800 rounded border border-neutral-700">
                    <span class="font-poppins text-sm font-normal text-white">Simply stated, steel framed buildings are meant to last a lifetime. Although warranties and guarantees may vary between suppliers, most have such confidence in their products that at least a 20-year limited lifetime warranty on steel-framed kits.</span>
                </div>

            </div>
        </div>

    </div>

</div>
