
<div class="flex justify-center gap-4 w-full bg-neutral-100 mt-8 pl-8 pr-8">

    <div class="flex flex-col xl:flex-row gap-4 w-full max-w-[1520px]">

        <div class="flex flex-col md:flex-row gap-4">
        <div class="group cursor-pointer flex flex-col justify-center h-80 pl-8 pr-8 w-full border hover:border-orange-600 border-neutral-300 gap-7 bg-neutral-50 hover:bg-neutral-100 transition-colors duration-300">

            <div class="font-poppins font-semibold text-2xl">Experience & Quality</div>
            <div class="group-hover:text-orange-500 transition-colors duration-300">
                <i class='bx bx-siren-alt bx-lg'></i>
            </div>
            <div class="font-poppins font-medium text-sm">
                Integrity is one of Hub Steel core values we are committed to acting beyond reproach in all matters and to doing what is ethical.
            </div>

        </div>

        <div class="group cursor-pointer flex flex-col justify-center h-80 pl-8 pr-8 w-full border hover:border-orange-600 border-neutral-300 gap-7 bg-neutral-50 hover:bg-neutral-100 transition-colors duration-300">

            <div class="font-poppins font-semibold text-2xl">Protection</div>
            <div class="group-hover:text-orange-500 transition-colors duration-300">
                <i class='bx bx-screenshot bx-lg'></i>
            </div>
            <div class="font-poppins font-medium text-sm">
                Integrity is one of Hub Steel core values we are committed to acting beyond reproach in all matters and to doing what is ethical.
            </div>

        </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
        <div class="group cursor-pointer flex flex-col justify-center h-80 pl-8 pr-8 w-full border hover:border-orange-600 border-neutral-300 gap-7 bg-neutral-50 hover:bg-neutral-100 transition-colors duration-300">

            <div class="font-poppins font-semibold text-2xl">Professional Ethics</div>
            <div class="group-hover:text-orange-500 transition-colors duration-300">
                <i class='bx bx-fingerprint bx-lg'></i>
            </div>
            <div class="font-poppins font-medium text-sm">
                Integrity is one of Hub Steel core values we are committed to acting beyond reproach in all matters and to doing what is ethical.
            </div>

        </div>

        <div class="group cursor-pointer flex flex-col justify-center h-80 pl-8 pr-8 w-full border hover:border-orange-600 border-neutral-300 gap-7 bg-neutral-50 hover:bg-neutral-100 transition-colors duration-300">

            <div class="font-poppins font-semibold text-2xl">Health & Safety</div>
            <div class="group-hover:text-orange-500 transition-colors duration-300">
                <i class='bx bx-bolt bx-lg'></i>
            </div>
            <div class="font-poppins font-medium text-sm">
                Integrity is one of Hub Steel core values we are committed to acting beyond reproach in all matters and to doing what is ethical.
            </div>

        </div>
        </div>

    </div>

</div>
