
<div class="relative overflow-hidden mx-auto flex w-full justify-between items-center gap-8 bg-neutral-100">

    <div class="flex w-full h-[600px] xl:h-[700px]">

        <div class="absolute h-full w-full">

            <div class="mx-auto flex flex-col items-start justify-center w-full h-full max-w-7xl p-6 xl:p-0">

                <div class="flex flex-col gap-6">
                    <div class="font-poppins font-bold text-3xl sm:text-5xl xl:text-7xl text-white">
                        Built for endurance, 
                        <br>
                        crafted with precision
                    </div>
                    <div class="font-poppins text-xl text-white">Steel that powers industries and shapes the future</div>
                    <div class="w-full max-w-3xl font-poppins text-md text-neutral-200">
                        The TISCO STEEL Way®: Aligning our vertically-integrated construction process to our customer’s needs from design to completion. We do it all.
                    </div>
                </div>

                <div class="flex flex-col xl:flex-row gap-4 mt-8">

                    <div class="group">
                    <a href="#" class="flex justify-between items-center h-16 w-80 pl-5 pr-5 gap-2 bg-orange-600 duration-300 text-white font-poppins font-medium">
                        <span class="text-sm">REQUEST A QUOTE</span>
                        <i class='bx bx-arrow-up-right-stroke bx-sm transition-transform duration-300 group-hover:rotate-45'></i> 
                    </a>
                    </div>

                    <div class="group">
                    <a href="#" class="flex justify-between items-center h-16 w-80 pl-5 pr-5 gap-2 bg-neutral-50 duration-300 text-neutral-800 font-poppins font-medium">
                        <span class="text-sm">ABOUT TISCO STEEL</span>
                        <i class='bx bx-arrow-up-right-stroke bx-sm transition-transform duration-300 group-hover:rotate-45'></i> 
                    </a>
                    </div>

                </div>

            </div>

        </div>

        <img class="h-full w-full object-cover" src="./files/images/component/industry.jpg">
    </div>

</div>
