
<div class="relative w-full bg-neutral-100">
<div class="mx-auto flex items-center justify-between bg-[#191919] border-b border-neutral-700 h-28 pl-6 pr-6 md:pl-8 md:pr-8 lg:pl-16 lg:pr-16 w-full max-w-[1920px]">

    <div class="flex h-full">
        <!-- default logo -->
        <a href="#" class="hidden w-44 lg:flex justify-start items-center">
            <img class="h-14" src="./files/images/logo/demo-logo-white.png">
        </a>

        <!-- mobile logo -->
        <a href="#" class="lg:hidden w-44 flex justify-start items-center">
            <img class="h-14" src="./files/images/logo/demo-logo-white.png">
        </a>

        <!-- default information -->
        <div class="hidden md:flex justify-center items-center gap-3 h-full w-64 text-white border-l border-neutral-700">

            <span class="text-neutral-200">
                <i class='bx bx-phone-incoming bx-sm'></i> 
            </span>
            <div class="flex flex-col justify-center items-start gap-2">
                <div class="text-base font-medium font-poppins">Call Hub Steel 24/7</div>
                <div class="text-sm font-normal font-poppins">+97 155 596 1659</div>
            </div>

        </div>

        <div class="hidden lg:flex justify-center items-center gap-3 h-full w-64 text-white border-l border-neutral-700">

            <span class="text-neutral-200">
                <i class='bx bx-send-alt-2 bx-sm'></i> 
            </span>
            <div class="flex flex-col justify-center items-start gap-2">
                <div class="text-base font-medium font-poppins">Send Mail Us</div>
                <div class="text-sm font-normal font-poppins">contact@gmail.com</div>
            </div>

        </div>

        <div class="hidden xl:flex justify-center items-center gap-3 h-full w-80 text-white border-l border-neutral-700">

            <span class="text-neutral-200">
                <i class='bx bx-location bx-sm'></i> 
            </span>
            <div class="flex flex-col justify-center items-start gap-2">
                <div class="text-base font-medium font-poppins">Address Company</div>
                <div class="text-sm font-normal font-poppins">251 Purple Sunset Bogota, BXY 92101</div>
            </div>

        </div>
        
    </div>

    <div class="flex gap-2">
    <div class="flex gap-1 relative justify-center items-center duration-300 font-semibold pr-1 h-12 group">
        
        <span class="relative flex overflow-hidden h-8 w-8 rounded-4xl">
            <img class="object-cover" src="./files/images/flags/united-kingdom.svg" alt="">
        </span>

        <div class="hidden lg:flex items-center h-full">
        <span class="pl-3 text-neutral-100">English</span>
        <span class="flex mt-1 h-full items-center text-white"><i class='bx bx-chevron-down bx-sm'></i></span>

        <div class="absolute right-0 top-0 pt-12 min-w-[80px] text-neutral-500 text-sm opacity-0 invisible pointer-events-none group-hover:opacity-100 group-hover:visible group-hover:pointer-events-auto transition-all duration-300 z-40">

            <div class="bg-white border border-neutral-200 rounded-xs shadow-lg">
                <div class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">EN</div>
                <div class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">TR</div>
                <div class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">RU</div>
            </div>

        </div>
        </div>
    </div>

    <!-- mobile buton -->
    <div class="lg:hidden w-full flex gap-2 justify-end items-center">

        <div data-buton="mobile-open" class="flex h-10 w-10 justify-center items-center cursor-pointer rounded bg-neutral-800 text-neutral-100 border border-neutral-700">
            <i class='bx bx-chevron-down bx-md'></i>
        </div>

        <div data-buton="mobile-close" class="hidden h-10 w-10 justify-center items-center cursor-pointer rounded bg-neutral-800 text-neutral-100 border border-neutral-700">
            <i class='bx bx-x bx-sm'></i>
        </div>

    </div>

    <!-- mobile navigation -->
    <div data-mobile="navigation" class="absolute opacity-0 invisible lg:hidden duration-300 z-50 w-60 top-24 right-6 border border-neutral-200 bg-neutral-100 rounded p-4">

        <div class="flex flex-col font-poppins gap-2">

            <a class="buton-1" href="../index.php">Home</a>
            <a class="buton-1" href="../about.php">About</a>
            <a class="buton-1" href="">Contact</a>
            <a class="buton-1" href="">Blog</a>

            <a class="buton-2" href="">Contact Us</a>
        </div>

    </div>
    </div>

</div>
</div>
