
<div class="w-full bg-neutral-100">
<div data-component="item" class="mx-auto flex items-center justify-between h-24 lg:h-28 pl-8 pr-8 w-full max-w-7xl">

    <!-- default logo -->
    <a href="#" class="hidden w-64 lg:flex justify-start items-center">
        <img class="h-14" src="./files/images/logo/normal.svg">
    </a>

    <!-- mobile logo -->
    <a href="#" class="lg:hidden w-28 flex justify-start items-center">
        <img class="h-14" src="./files/images/logo/minimal.svg">
    </a>

    <!-- default navigation -->
    <ul class="hidden lg:flex gap-6 text-md font-poppins font-semibold text-neutral-700">
        <li class="duration-300 hover:text-neutral-400"><a href="./index.html">Home</a></li>
        <li class="duration-300 hover:text-neutral-400"><a href="./about.html">About</a></li>
        <li class="duration-300 hover:text-neutral-400"><a href="./contact.html">Contact</a></li>
        <li class="duration-300 hover:text-neutral-400"><a href="./blog.html">Blog</a></li>
    </ul>

    <!-- default buton -->
    <div class="hidden w-64 lg:flex gap-2 justify-end items-center">
        <a href="#" class="flex justify-between items-center font-poppins w-48 h-12 group">
            <span class="h-full flex grow items-center justify-center duration-300 font-semibold text-white bg-blue-700 group-hover:bg-blue-600">Contact Us</span>
            <span class="h-full w-12 flex justify-center text-neutral-800 duration-300 items-center border bg-white border-l border-neutral-300">
                <i class='bx bx-arrow-up-right-stroke bx-sm'></i>
            </span>
        </a>
        <a href="#" class="flex justify-center items-center border duration-300 border-neutral-300 hover:bg-neutral-200 font-semibold w-16 h-12">
            <span>EN</span>
            <span class="flex justify-center items-centerh-full">
                <i class='bx bx-caret-down bx-sm'></i>
            </span>
        </a>
    </div>

    <!-- mobile buton -->
    <div class="lg:hidden w-28 flex justify-end items-center">
        <div data-buton="mobile-open" class="flex h-10 w-10 justify-center items-center cursor-pointer rounded border border-neutral-200">
            <i class='bx bx-chevron-down bx-md'></i>
        </div>

        <div data-buton="mobile-close" class="hidden h-10 w-10 justify-center items-center cursor-pointer rounded border border-neutral-200">
            <i class='bx bx-x bx-sm'></i>
        </div>
    </div>

    <!-- mobile navigation -->
    <div data-mobile="navigation" class="absolute opacity-0 invisible lg:hidden duration-300 z-50 w-60 top-20 right-4 border border-neutral-200 bg-neutral-100 rounded-md p-4">

        <div class="flex flex-col font-poppins gap-2">

            <a class="buton-1" href="">Home</a>
            <a class="buton-1" href="">About</a>
            <a class="buton-1" href="">Contact</a>
            <a class="buton-1" href="">Blog</a>

            <a class="buton-2" href="">Contact Us</a>
        </div>

    </div>

</div>
</div>

<script>

    let mobile_buton_open = document.querySelector('[data-buton="mobile-open"]');
    let mobile_buton_close = document.querySelector('[data-buton="mobile-close"]');

    let mobile_navigation = document.querySelector('[data-mobile="navigation"]');

    mobile_buton_open.addEventListener('click', mobileNavigationOpen);
    mobile_buton_close.addEventListener('click', mobileNavigationClose);

    function mobileNavigationOpen() {
        mobile_buton_open.classList.remove('flex');
        mobile_buton_open.classList.add('hidden');

        mobile_buton_close.classList.remove('hidden');
        mobile_buton_close.classList.add('flex');

        mobile_navigation.classList.remove('opacity-0', 'invisible');
        mobile_navigation.classList.add('opacity-100', 'visible');
    }

    function mobileNavigationClose() {
        mobile_buton_open.classList.remove('hidden');
        mobile_buton_open.classList.add('flex');

        mobile_buton_close.classList.remove('flex');
        mobile_buton_close.classList.add('hidden');

        mobile_navigation.classList.remove('opacity-100', 'visible');
        mobile_navigation.classList.add('opacity-0', 'invisible');
    }

</script>
