
<div class="relative hidden lg:block w-full bg-neutral-100 border-b-1 border-neutral-700">
<div class="mx-auto pr-4 lg:pl-0 lg:pr-0 flex items-center justify-between lg:justify-center h-24 lg:h-[82px] w-full max-w-[1920px]">

    <!-- company information -->
    <div class="hidden xl:flex justify-start items-center h-full w-full pl-16 max-w-xl text-neutral-300 font-semibold font-poppins bg-[#191919]">STRUCTURAL STEEL FABRICATORS.</div>

    <!-- default navigation -->
    <ul class="flex w-full pl-16 pr-16 max-w-6xl relative text-md font-poppins font-semibold text-neutral-700">
        <li class="flex relative h-10 justify-center items-center duration-300 hover:text-neutral-400"><a href="../index.php">Home</a></li>

        <li class="flex relative h-10 cursor-pointer justify-center items-center gap-px duration-300 hover:text-neutral-400 ml-8 group">
            <a href="./corporate.html">Corporate</a>
            <span class="flex h-full items-center"><i class='bx bx-chevron-down bx-sm'></i></span>

            <div class="absolute left-0 top-0 pt-11 min-w-[180px] opacity-0 invisible pointer-events-none group-hover:opacity-100 group-hover:visible group-hover:pointer-events-auto transition-all duration-300 z-40">

                <div class="flex flex-col rounded text-neutral-500 text-sm shadow-lg bg-white border border-neutral-200">
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">About Us</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Mission & Vision</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Policies</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Certificates</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">News</a>
                </div>

            </div>

        </li>

        <li class="flex relative h-10 cursor-pointer justify-center items-center gap-px duration-300 hover:text-neutral-400 ml-5 group">
            <a href="./products.html">Products</a>
            <span class="flex h-full items-center"><i class='bx bx-chevron-down bx-sm'></i></span>

            <div class="absolute left-0 top-0 pt-11 min-w-[180px] opacity-0 invisible pointer-events-none group-hover:opacity-100 group-hover:visible group-hover:pointer-events-auto transition-all duration-300 z-40">

                <div class="flex flex-col rounded text-neutral-500 text-sm shadow-lg bg-white border border-neutral-200">
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Slabs</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Billets</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Tubes</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Plates</a>
                </div>

            </div>

        </li>

        <li class="flex relative h-10 cursor-pointer justify-center items-center gap-px duration-300 hover:text-neutral-400 ml-5 group">
            <a href="./services.html">Services</a>
            <span class="flex h-full items-center"><i class='bx bx-chevron-down bx-sm'></i></span>

            <div class="absolute left-0 top-0 pt-11 min-w-[180px] opacity-0 invisible pointer-events-none group-hover:opacity-100 group-hover:visible group-hover:pointer-events-auto transition-all duration-300 z-40">

                <div class="flex flex-col rounded text-neutral-500 text-sm shadow-lg bg-white border border-neutral-200">
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Logistics</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Supply</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Engineering</a>
                    <a class="px-6 py-3 hover:bg-neutral-100 cursor-pointer">Processing</a>
                </div>

            </div>

        </li>

        <li class="hidden xl:flex relative h-10 justify-center items-center duration-300 hover:text-neutral-400 ml-5"><a href="./contact.html">Contact</a></li>
        <li class="hidden xl:flex relative h-10 justify-center items-center duration-300 hover:text-neutral-400 ml-8"><a href="./blog.html">Blog</a></li>
    </ul>

    <!-- default buton -->
    <div class="flex lg:max-w-xl h-full justify-end items-center">
        <a href="#" class="flex h-full justify-center items-center font-poppins w-72 pl-5 pr-5 gap-2 duration-300 bg-orange-600 hover:bg-neutral-800 group">
            <span class="h-full flex grow items-center justify-center duration-300 font-medium text-white">REQUEST A QUOTE</span>
            <span class="h-full flex justify-center text-neutral-50 duration-300 items-center border-neutral-300">
                <i class='bx bx-arrow-up-right-stroke bx-sm'></i>
            </span>
        </a>
    </div>

</div>
</div>

<script>

    let mobile_buton_open = document.querySelector('[data-buton="mobile-open"]');
    let mobile_buton_close = document.querySelector('[data-buton="mobile-close"]');

    let mobile_navigation = document.querySelector('[data-mobile="navigation"]');

    mobile_buton_open.addEventListener('click', mobileNavigationOpen);
    mobile_buton_close.addEventListener('click', mobileNavigationClose);

    function mobileNavigationOpen() {
        mobile_buton_open.classList.remove('flex');
        mobile_buton_open.classList.add('hidden');

        mobile_buton_close.classList.remove('hidden');
        mobile_buton_close.classList.add('flex');

        mobile_navigation.classList.remove('opacity-0', 'invisible');
        mobile_navigation.classList.add('opacity-100', 'visible');
    }

    function mobileNavigationClose() {
        mobile_buton_open.classList.remove('hidden');
        mobile_buton_open.classList.add('flex');

        mobile_buton_close.classList.remove('flex');
        mobile_buton_close.classList.add('hidden');

        mobile_navigation.classList.remove('opacity-100', 'visible');
        mobile_navigation.classList.add('opacity-0', 'invisible');
    }

</script>
