
<div class="flex gap-4 w-full h-full bg-neutral-100 my-4 pl-8 pr-8">

    <div class="flex flex-col justify-between items-start h-[460px] max-w-lg pl-8 pr-8 pb-12 w-full gap-6 bg-neutral-200">

        <div class="flex gap-52">

            <div class="pt-12">
                <span class="font-poppins font-bold text-6xl text-orange-600">%86</span><br>
                <span class="font-poppins font-semibold text-md text-neutral-500">Customer Satisfaction</span>
            </div>

            <div>
                <img class="h-24" src="../files/images/vectors/marker.svg">
            </div>

        </div>

        <div class="flex flex-col gap-4">
            <div class="font-poppins font-bold text-4xl">
                <span>Innovating Solutions.</span><br>
                <span>Building Futures.</span><br>
            </div>

            <div class="font-poppins font-base text-md text-neutral-500">
                In addition to its staff with long consultancy and engineering experience, the company also makes a difference with its modern techniques and computer-aided engineering design tools, and produces professional solutions.
            </div>
        </div>

    </div>

    <div class="flex justify-between items-center w-full h-[460px] bg-neutral-200">

        <div class="pl-32 flex flex-col gap-10 items-center justify-center w-full max-w-4xl">
            <div class="flex justify-start w-full gap-4">
                
                <div class="rounded-4xl overflow-hidden"><img src="../files/images/component/avatar-1.jpg"></div>
                <div class="flex flex-col justify-center items-start">
                    <div class="font-poppins font-semibold text-2xl">Laure Spinello</div>
                    <div class="font-poppins font-base text-md text-neutral-500">Atlas Nachtergaele - Belgium</div>
                </div>
            </div>

            <div class="text-lg font-poppins font-base w-full text-neutral-500">
                "I just wanted to inform you that I have received the samples you have send to me. They look really impressive. The silicon strips feel very flexible, but also very strong and durable. Indeed with different shapes you can really “play” with the forming of the seal. And I am also impressed by the good bond-ing of the Teflon."
            </div>
            <div class="w-full flex justify-end items-center">
                <span class="italic font-poppins font-semibold text-lg">Reviewed at 8:00 p.m. on April 19, 2024</span>
            </div>
        </div>

        <div class="flex flex-col h-full divide-y divide-neutral-300">

            <div class="flex justify-center items-center cursor-pointer h-full w-16 text-white duration-300 bg-orange-600 hover:bg-orange-500">
                <i class='bx bx-arrow-right-stroke bx-md'></i>
            </div>
            <div class="flex justify-center items-center cursor-pointer h-full w-16 text-white duration-300 bg-orange-600 hover:bg-orange-500">
                <i class='bx bx-arrow-left-stroke bx-md'></i>
            </div>

        </div>

    </div>

</div>
