
<div class="flex gap-4 w-full bg-neutral-100 mt-4 xl:pl-8 xl:pr-8">

    <div class="flex flex-col w-full bg-neutral-300 group">
        
        <div class="flex h-[190px] pl-8 pr-8 bg-neutral-300"></div>
        <div class="flex h-[170px] pl-8 pr-8 bg-neutral-400"></div>
        <div class="flex justify-start items-center h-[70px] pl-8 pr-8 bg-neutral-800 group-hover:bg-orange-600 text-white">
            <span class="font-medium font-poppins text-base">READ MORE</span>
            <i class='bx bx-arrow-right-stroke bx-sm ml-4 group-hover:ml-52 duration-300'></i>
        </div>

    </div>

    <div class="h-96 pl-8 pr-8 w-full bg-neutral-500">

    </div>

    <div class="h-96 pl-8 pr-8 w-full bg-neutral-200">

    </div>

    <div class="h-96 pl-8 pr-8 w-full bg-neutral-700">

    </div>

</div>
