
<div class="flex gap-4 w-full h-full bg-neutral-100 my-4 pl-8 pr-8">

    <div class="flex flex-col justify-between items-start h-[460px] max-w-lg pl-8 pr-8 pb-12 w-full gap-6 bg-neutral-200">

        <div class="flex gap-52">

            <div class="pt-12">
                <span class="font-poppins font-bold text-6xl text-orange-600">%86</span><br>
                <span class="font-poppins font-semibold text-md text-neutral-500">Customer Satisfaction</span>
            </div>

            <div>
                <img class="h-24" src="../files/images/vectors/marker.svg">
            </div>

        </div>

        <div class="flex flex-col gap-4">
            <div class="font-poppins font-bold text-4xl">
                <span>Innovating Solutions.</span><br>
                <span>Building Futures.</span><br>
            </div>

            <div class="font-poppins font-base text-md text-neutral-500">
                In addition to its staff with long consultancy and engineering experience, the company also makes a difference with its modern techniques and computer-aided engineering design tools, and produces professional solutions.
            </div>
        </div>

    </div>

    <div class="flex w-full h-[460px] bg-neutral-200"></div>

</div>
